<div class="w-full h-full flex flex-row justify-around content-center items-center">
    <div class="flex flex-col justify-center content-center items-center w-full gap-5">

        <div class="flex flex-row justify-center content-center items-center relative">
            <span class="w-[12rem] h-[12rem] rounded-full turbek animate-wiggle animate-infinite animate-duration-[2000ms]  z-10">
                <!--Turbék-->
            </span>
            <span class="w-[12rem] h-[12rem] rounded-full mcisti animate-wiggle animate-infinite animate-duration-[2000ms]  z-20">
                <!--Turbék-->
            </span>
        </div>

        <span class="text-lg">Turbék</span>
        <p class="w-2/3 text-center text-base">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem laborum labore aliquam quam quos distinctio? 
            Sed repudiandae velit, animi tempora, quasi ad, voluptas recusandae enim sit rerum maxime dolorem illo.
        </p>
    </div>
    <div class="w-full h-full flex flex-col justify-center content-center items-center"> 
        <mat-card appearance="outlined" class="w-2/3 flex flex-col justify-center content-center items-center p-5 gap-4 costum-card">
            <span class="text-2xl text-zinc-800">Login</span>
            <mat-card-content class="w-full">  
                <form class="example-form w-full">
                    <!--Email-->
                    <mat-form-field class="example-full-width w-full">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>

                    <!--Password-->
                    <mat-form-field class="example-full-width w-full">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput [formControl]="passwordFormControl" placeholder="kukikukiErted?231">
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                          Jelszo <strong>kotelezo</strong>
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('minlength')">
                          Password must be at least 8 characters long
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <div class="flex justify-between flex-wrap">
                <button mat-fab extended (click)="loginUser()">
                  <mat-icon>login</mat-icon>
                  Log in
                </button>
            </div>
        </mat-card>
    </div>
</div>

<style>
.turbek{
    background-image: url("assets/Turbek.png");
    background-position: center;
    background-size: cover;
}
.mcisti{
    background-image: url("assets/mc-isti-mc.gif");
    background-position: center;
    background-size: cover;
}
.costum-card
{
    background-color: rgba(244, 63, 94, 0.10);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
</style>